# Build results
bin/
obj/

# Visual Studio files
.vs

# JetBrains IDE configuration
.idea
*.DotSettings.user

# Backup files
*.bak

# Docs
docfx/_site/**
docfx/netstandard2.0/**
docfx/net6.0/**
docfx/net7.0/**
docfx/net8.0/**
